#Eu{
    margin-left: 500px;
    width: 20%;
    border-radius: 20px;
}header{
    background-color: darkolivegreen;
    border-radius: 20px;
}body{
    background-color: olivedrab;
}#Bacana{
    margin-left: 500px;
    width: 20%;
    border-radius: 20px;
}#hehe{
    margin-left: 500px;
    width: 400px;
    border-radius: 20px;
}h1,a,p{
    margin-left: 50px;
}footer{
    background-color: darkolivegreen;
    border-radius: 20px;
}
